.content_cart{
    margin-top: 60px;
}

.ahrefmain{
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    color: #212542;
    opacity: 0.5;
}

.sspan{
    font-size: 14px;
    line-height: 14px;
    color: #212542;
}

.title{
    font-size: 36px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    color: #212542;
}

.row_basket_main{
    width: 100%;
}

.row_basket{
    padding: 0;
    display: flex;
}

.total_add{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.total{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.total span:first-child{
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
    color: #212542;
}

.total span:last-child{
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: #212542;
}

.button {
    border: none;
    margin-top: 60px;
}

.btn {
    border-radius: 69px;
    padding: 19px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: none;
    background: linear-gradient(92.65deg, #DFEBFF -21.79%, #88ADCA 126.46%);
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    position: relative;
    cursor: pointer;
}

.btn:active{
    top: 1px;
    right: 1px;
}

@media (max-width: 576px) {
    .row_basket{
        padding: 20px;
        flex-direction: column;
    }
    .total_add{
        align-items: start;
        margin-top: 20px;
    }
    .button{
        margin-top: 20px;
    }
}