.nav_ul{
    display: flex;
    padding: 0;
    gap: 50px;
}

.nav_ul li{
    display: flex;

}

.nav_ul li{
}

.nav_ul li:first-child{
    margin-left: 0;
}

.nav_ul li a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: rgba(33, 37, 66, 0.7);
}

@media (max-width: 576px) {
    .nav_ul{
        gap: 25px;
    }
    .nav_ul li a{
        font-size: 9px;
        line-height: 10px;
    }
}