.header{
    background-color: #FFFFFF;
    padding: 20px 0;
    position: fixed;
    z-index: 50;
    width: 100%;
}
.container{
    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1200px) {
    .container{
        width: 900px;
    }
}

@media (max-width: 992px) {
    .container{
        width: 700px;
    }
}

@media (max-width: 992px) {
    .container{
        width: 100%;
        justify-content: space-around;
    }
}

@media (max-width: 400px) {
    .container{
    flex-direction: column;
    }
}