.footer{
    background-color: #FFFFFF;
}

.up_footer{
    border-top: 1px solid #F8F8F8;
}

.up_footer_content{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.footer_basement{
    padding: 15px 0;
    background-color: #F4F4F5;
}

@media (max-width: 768px) {
    .up_footer_content{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 600px) {
    
}