.wrapper{
  font-family: 'Inter', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container{
  margin: 0 auto;
  width: 1200px;
}

.content{
  padding-top: 80px;
  flex: 1 1 auto;
}

@media (max-width: 1200px) {
  .container{
    width: 900px;
  }
}

@media (max-width: 992px) {
  .container{
    width: 768px;
  }
}

@media (max-width: 768px ) {
  .container{
    width: 100%;
  }
}